@page "/about"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who am I?</h3>
            <h2>I'm Robin H, dedicated .NET developer</h2>
            <p class="d-inline-flex">
                I'm a software developer that speicalizes in .NET and Azures development.
                <br />
                <br />

                Solving problems is very fun to me.
                <br />
                <br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum felis, ultrices interdum tortor eget, placerat blandit leo. In a dolor aliquet, euismod lectus a, sagittis tortor. Pellentesque tempor urna et arcu sodales posuere. Vestibulum sed nisl vitae leo convallis rhoncus. Suspendisse accumsan faucibus elit, eu commodo risus imperdiet sit amet. Nunc ac ex id magna accumsan suscipit non sit amet metus. Donec non tempus ante. Fusce augue elit, tempus venenatis ipsum eu, viverra volutpat orci. Sed et mauris non nunc consequat vulputate.
                <br />
                <br />
                <h2>Background</h2>
                Integer facilisis, mauris non pulvinar accumsan, arcu orci interdum sem, ac vestibulum nunc nisi vel ipsum. Ut maximus lacus eget dolor posuere, vehicula aliquam nisi ullamcorper. Quisque malesuada fermentum ipsum, sit amet rutrum libero interdum quis. Nullam vulputate quam et ultricies hendrerit. Aliquam ornare cursus tortor, in dapibus urna. In hac habitasse platea dictumst. Duis tristique magna nec enim vehicula sagittis. Morbi a imperdiet nisl, id tristique ligula. Suspendisse ullamcorper nisi non orci malesuada, sed dignissim quam accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam vehicula odio sem, et lacinia ex facilisis vitae.

            </p>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/test-pdf.pdf" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp;View Resume
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp;Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />
