@page "/skills"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Skills</h1>
            <p>On this page I have highlighted my skills I bring to Software Development things.</p>

            <div class="row mt-4">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="./images/skillsicons/CSharp.png" class="card-img-top" alt="Skill card image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Programming</h3>
                            <p class="card-text">
                                I use c# on a daily basis(lol), to build apps
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />
